<form [formGroup]="formGroup">
    <mat-form-field appearance="fill" class="form-field-margin">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Group name" formControlName="nameControl">
        <mat-error *ngIf="formGroup.get('nameControl')!.hasError('minlength') || formGroup.get('nameControl')!.hasError('maxlength')">
            Name must be at least 3 and maximum of 50 characters long.
        </mat-error>
        <mat-error *ngIf="formGroup.get('nameControl')!.hasError('required')">
            Please enter the name.
        </mat-error>
    </mat-form-field>
    <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
</form>
