.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
    width: 400px;
  }
  

.button-margin {
  margin-top: 10px;
  }
  
  .button-margin > button:first-child{
    margin-right: 20px;
  }