<app-header></app-header>

<div>
    <mat-vertical-stepper [linear]='false' #stepper>
        <mat-step [stepControl]="firstStep" label="Enter your group's location">
            <create-group-location [formGroup]="firstStep" [locationControl]="locationControl"></create-group-location>
        </mat-step>
        <mat-step [stepControl]="secondStep" label="Select the category of your group">
            <create-group-category [formGroup]="secondStep" [categoryList]="categoryList"></create-group-category>
        </mat-step>
        <mat-step [stepControl]="thirdStep" label="Enter your group's name">
            <create-group-name [formGroup]="thirdStep"></create-group-name>
        </mat-step>
        <mat-step [stepControl]="fourthStep" label="Describe your group">
            <create-group-description [formGroup]="fourthStep"></create-group-description>
        </mat-step>
        <mat-step [stepControl]="fifthStep" label="Terms & Conditions">
           <create-group-terms [formGroup]="fifthStep"></create-group-terms>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>Click submit to complete the group creation.</p>
            <div class="button-margin">
                <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
                <button mat-raised-button color="primary">Submit</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</div>