<mat-card class="event-card">
    <mat-card-title-group>
        <img mat-card-md-image style="border-radius:10px" src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        <mat-card-title class="event-name">{{eventData.name}}</mat-card-title>
        <mat-card-title class="event-date">{{eventData.startTime | date:'EEE, MMMM d, h:mm:ss a'}}</mat-card-title>
        <mat-card-subtitle>{{eventData.groupName}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <p>
        Event description
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button style="background-color:green;color:white">JOIN</button>
      <button mat-raised-button>SHARE</button>
    </mat-card-actions>
</mat-card>
