<form [formGroup]="form" fxLayout="row" class="filters-container">
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <mat-select [formControl]="dateControl" name="date">
        <mat-option *ngFor="let date of dateList" [value]="date.key">
          {{date.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select [formControl]="typeControl" name="type">
        <mat-option *ngFor="let type of typeList" [value]="type.key">
          {{type.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select [formControl]="categoryControl" name="category">
        <mat-option *ngFor="let category of categoryList" [value]="category.key">
          {{category.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>