<form [formGroup]="form" fxLayout="row" class="filters-container">
  
    <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Search keyword</mat-label>
        <input matInput type="text" formControlName="keyword" maxlength="20">
    </mat-form-field>

    <location-autocomplete [locationControl]="this.form.controls.location"></location-autocomplete>

    <button mat-fab color="primary" (click)="searchEvents()">
        <mat-icon>search</mat-icon>
    </button>

</form>
