.mat-fab {
    border-radius: 0px 8px 8px 0px !important;
    vertical-align: super !important;
    height: 52px !important;
    top: 4px;
}

// .mat-fab .mat-button-wrapper {
//     vertical-align:unset !important;
// }
