.form-field-margin {
    margin: 15px 0px 10px 0px;
}

.section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.section-checkbox {
    margin: 0 10px;
    }

    .section-checkbox p {
        padding-top: 15px;
    }

.mat-stepper-previous{
    margin-right: 20px;
}