/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.margin-bottom-20{
    margin-bottom: 20px !important;
}

.snackbar {
    background: white;
    color: black;
}
.snackbar button {
    background-color: black;
    color: white;
    border: none;
}